<h1>Tilmeld</h1>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    Navn<br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    email<br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    password<br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    Gentag password<br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "Tilmeld" %>
  </div>
<% end %>
