<header>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "Hjem", root_path %></li>
      <% if signed_in? %>
      <li><%= link_to "Brugere", users_path %></li>
      <li><%= link_to "Profil", current_user %></li>
      <li><%= link_to "Indstillinger", edit_user_path(current_user) %></li>
      <% end %>
      <li><%= link_to "Hjælp", help_path %></li>
      <% if signed_in? %>
      <li><%= link_to "Log ud", signout_path, :method => :delete %></li>
      <% else %>
      <li><%= link_to "Log ind", signin_path %></li>
      <% end %>
    </ul>
  </nav>
</header>